
.characters-list-container {
  padding: 20px;
  background-color: #f0f0f0;
}

.search-input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.character-card {
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 200px;
  box-sizing: border-box;
}

.character-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.character-card h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  color: #333;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pagination-buttons button:hover {
  background-color: #0056b3;
}

.pagination-buttons p {
  margin: 0 15px;
  line-height: 40px;
}

.titulo {
  text-align: center;
}

.filter-select {
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}